.example-container {
    height: 500px;
    border: 1px solid rgba(0, 0, 0, 0.5);
  }
  .example-sidenav-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
  }
  .example-sidenav {
     user-select: none;
  }
  .full-width {
    margin-right: 60px; 
    width: auto;
  }
  .menu-button {
    transition: 300ms ease-in-out;
    transform: rotate(0deg);
  }
  .menu-button.rotated {
    transform: rotate(180deg);
  }
  .submenu {
    overflow-y: hidden;
    transition: transform 300ms ease;
    transform: scaleY(0);
    transform-origin: top;
    padding-left: 30px;
  }
  .submenu.expanded {
    transform: scaleY(1);
  }
  .menu-content {
    display: flex;
    align-items: center;
  }
  .menu-content mat-icon {
    margin-right: 5px; 
  }
  #header{
  margin-left: 6cm;
  }
  .mat-list-item.active {
    background-color: #3f51b5; /* Change this to your desired color */
    color: white; /* Change this to your desired color */
  }
  .clicked {
    background-color: #3f51b5; /* Set your desired background color */
    color: white; /* Set the text color for better visibility */
  }
  .textClicked{
    color: white;
  }
  
  
  
  
  
  
  
  
  
  