<div class="parent-div">
    <div class="header1-nav">
        <!-- <div id="logo">
            <img src="https://static-assets-web.flixcart.com/batman-returns/batman-returns/p/images/flipkart-095e08.svg"
                width="130" height="22" alt="Flipkart" title="Flipkart" class="aqQN50">
        </div>
        <div>
            <a routerLink="/seller">
                <img src="https://static-assets-web.flixcart.com/batman-returns/batman-returns/p/images/Store-9eeae2.svg"
                    alt="Become a Seller" class="seller-icon">
                <span class="span">Become Seller</span>
            </a>
        </div> -->
        <!-- <div>
            <button class="sign-in">
                <a class="_1TOQfO" title="Sign in" aria-haspopup="true" href="/account/login?ret=/"><img
                        src="https://static-assets-web.flixcart.com/batman-returns/batman-returns/p/images/profile-815786.svg"
                        alt="Sign in" class="-dOa_b L_FVxe" width="24" height="24"><span>Sign in</span></a>
                <mat-icon class="menu-button">expand_more</mat-icon>
            </button>
        </div> -->
        <div>
            <a href="/viewcart?exploreMode=true&amp;preference=FLIPKART" title="Cart" class="_3RX0a-"><img
                    src="https://static-assets-web.flixcart.com/batman-returns/batman-returns/p/images/header_cart-eed150.svg"
                    alt="Cart" class="cart-icon" width="24" height="24"><span class="span">Cart</span></a>
        </div>
        <div style="display: flex;margin-right: 20px;">
            <a routerLink="/seller-login">Login</a>
            <button style="margin-left: 2cmng;">
            <a routerLink="/res-seller">Start Selling </a>
        </button>

        </div>
    </div>
    <div class="header2-nav">

    </div>

</div>